.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  flex-direction: row; /* IMPORTANT */
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
}

.header-left .logo {
  height: 160px;
}

.header-center {
  display: flex;
  gap: 40px;
}

.header-center a {
  color: #333;
  text-decoration: none;
  font-size: 22px;
  position: relative;
}

.header-center a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #00A3A3;
  transition: width 0.3s ease-in-out;
}

.header-center a:hover::after {
  width: 100%;
}
.header-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.create-account-btn{
  padding: 8px 12px;
  font-size: 14px;
}

.header-right .create-account-btn {
  background-color: #00A3A3;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}

.header-right .create-account-btn:hover {
  background-color: #008080;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}